h1 {
  margin-bottom: 36px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
  padding: 6px;
}
