.titulo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 24px;
}


.titulo-container a {
  color: #555;
  font-size: 1.0rem;
}

.titulo-container a mat-icon {
  margin-right: 8px;
}

div.titulo-card {
  margin-bottom: 18px;
}


div.titulo-card {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

div.titulo-card>span {
  color: #0154a0;
  font-size: 1.2rem;
  font-weight: 500;
}

div.titulo-card>mat-icon {
  color: #0154a0;

}


table {
  width: 100%;
}
