mat-sidenav-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

mat-sidenav {
  width: 17%;
  background-color: #424242;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-bottom: 24px;
}

.content {
  background-color: #f8fafd;
  padding: 20px;
  height: calc(100vh - 64px);
}
