<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="mat-elevation-z8">
    <div class="logo">
      <img src="https://lojasmarabraz.vtexassets.com/arquivos/logo-new-marabraz.svg" alt="Logo Marabraz">
    </div>

    <mat-divider></mat-divider>

    <app-menu-tree ></app-menu-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <app-menu-toolbar ></app-menu-toolbar> -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
