.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formulario .inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formulario .inputs * {
  flex: 1 1 auto;
}

.formulario .btns {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
