<h2 mat-dialog-title>Novo Fornecedor</h2>
<mat-dialog-content class="mat-typography">
  <p>Informe os dados do novo Fornecedor</p>

  <form class="formulario">
    <mat-form-field class="razao-social" appearance="fill">
      <mat-label>Razão Social</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>CNPJ</mat-label>
      <input matInput>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" >Salvar</button>
</mat-dialog-actions>

<!-- [mat-dialog-close]="true" -->
