<h1 mat-dialog-title>{{ titulo }}</h1>
<mat-dialog-content class="mat-typography">
  <p *ngIf="!data">Informe os dados do novo Fornecedor</p>

  <form class="formulario" [formGroup]="formGroup" (ngSubmit)="salvarFornecedor()">
    <mat-radio-group color="primary" formControlName="tipo" (change)=alterarTipoFornecedor($event)>
      <mat-radio-button value="PJ" [checked]="data?.TIPO === 'PJ'">CNPJ</mat-radio-button>
      <mat-radio-button value="PF" [checked]="data?.TIPO === 'PF'">CPF</mat-radio-button>
      <mat-error *ngIf="formGroup.get('tipo')?.hasError('required')">
        Selecione o tipo do Fornecedor.
      </mat-error>
    </mat-radio-group>
    <div class="inputs">
      <mat-form-field class="razao-social" appearance="fill">
        <mat-label>{{ (tipoFornecedor === 'CNPJ') ? 'Razão Social' : 'Nome' }}</mat-label>
        <input matInput formControlName="razaoSocial" [errorStateMatcher]="matcher">
        <mat-error *ngIf="formGroup.get('razaoSocial')?.hasError('required')">
          Razão social é <strong>Obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{tipoFornecedor}}</mat-label>
        <input matInput formControlName="cnpj" type="text" [textMask]="{mask: mask}">
        <mat-error *ngIf="formGroup.get('cnpj')?.hasError('required') || formGroup.get('cnpj')?.errors?.['minLength']">
          {{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="btns">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>

</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="salvarFornecedor()">Salvar</button>
</mat-dialog-actions> -->

<!-- [mat-dialog-close]="true" -->
