.example-tree-invisible {
  display: none;

}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree {
  background-color: #424242;

}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  /* padding-left: 10px; */
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group]>.mat-tree-node {
  /* padding-left: 40px; */
}

.nav-list {
  width: 100%;
  padding: 0;
}


.nav-list a {
  color: #FFF;
  font-size: 0.875rem;

}


span.node-menu {
  width: 100%;
  display: inline-block;
  /* text-align: center; */
  padding-left: 33px;
}

.nav-list a.active {
  color: #7fc9ff;
  font-weight: 500;
  background-color: #555555;
}

.nav-list a.active:active,
.nav-list a.active:focus
 {
  color: #7fc9ff;
  font-weight: 500;
  background-color: #444444;
}

.nav-list a.active:hover {
  background-color: #555555;
  color: #7fc9ff;
  font-weight: 500;
}

.nav-list a.active-children,
.nav-list a.children-node:hover {
  color: #7fc9ff;
  font-weight: 500;
}

.nav-list a.active-children:active,
.nav-list a.active-children:focus
{
  color: #7fc9ff;
  font-weight: 500;
}


