<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-nav-list class="nav-list" >
      <a mat-list-item [routerLink]="node.rota" routerLinkActive="active" class="children-node"><span class="node-menu">{{ node.menu }}</span></a>
    </mat-nav-list>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <mat-nav-list class="nav-list" >
        <a mat-list-item routerLink="{{node.rota}}" matTreeNodeToggle (click)="recolher(node)" routerLinkActive="active">
          <span>{{node.menu}}</span>
          <mat-icon class="icon">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </a>
      </mat-nav-list>
      <!-- <button mat-icon-button matTreeNodeToggle (click)="recolher(node)" >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.menu}} -->
    </div>
    <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
