<!-- <mat-divider></mat-divider> -->

<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="titulo">
        <mat-icon>post_add</mat-icon>
        Cadastrar Título
      </mat-card-title>
      <mat-card-subtitle>Informe os dados da NF / Título</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field appearance="outline" class="datasul">
          <mat-label>Datasul</mat-label>
          <mat-select #datasul>
            <mat-option value="">--Selecione--</mat-option>
            <mat-option value="one">JORDANESIA</mat-option>
            <mat-option value="two">LP ADM</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button (click)="btnFornecedor = !btnFornecedor" [disabled]="!datasul.value">
          {{(!datasul.value) ? 'Selecionar Datasul' : 'Selecionar Fornecedor'}}
        </button>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" *ngIf="btnFornecedor" class="fornecedor">
          <mat-label>Fornecedor</mat-label>
          <input matInput disabled>
          <mat-hint>
            <button mat-button color="warn" (click)="btnFornecedor = false" style="scale: 0.8;">Apagar</button>
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="btnFornecedor">
          <mat-label>Código Fornecedor</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row">

        <button mat-button (click)="btnItem = !btnItem" *ngIf="!btnItem">
          Selecione o Fornecedor
        </button>

        <mat-form-field appearance="outline" *ngIf="btnItem">
          <mat-label>Item do Fornecedor</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>NF</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Emissão</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="DD/MM/AAAA">

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Vencimento</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="DD/MM/AAAA">

          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>


      <!-- <mat-form-field appearance="outline">
        <mat-label>Conta Fluxo</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput>
      </mat-form-field> -->
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="[btnFornecedor = false, btnItem = false]">LIMPAR</button>

    </mat-card-actions>
  </mat-card>

</form>
