/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
}

* > * {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-item-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

div.mat-vertical-content {
  padding: 24px;
}

span.mat-checkbox-frame {
  border-width: 1px;
}

th span.mat-checkbox-frame {
  border-color: #fff;
}



tr[mat-header-row] {
  /* background-color: rgba(1, 84, 160, 0.7); */
  background-color: rgba(66, 66, 66, 0.9);
  /* height: 40px; */
}

tr[mat-header-row].mat-header-row {
  height: 42px;
}

tr[mat-header-row] th {
  color: #fff;

}
